body {
    background: url('../assets/background.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: Nunito Sans, sans-serif;
}

#wrapper {
    background-image: linear-gradient(to right,#7A6E6E, #627A69);
    border-radius: 0.625rem 0.625rem 0.625rem 0.625rem;
    box-shadow: 0rem 1.125rem 4.125rem 0rem rgba(0,0,0,0.451);
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.location {
    margin-top:0px;
    letter-spacing: +0.2rem;
}

h2 {
    font-weight: normal;
}

#inner {
    margin: 4rem;
    display: flex;
    flex-direction: row;
}

#avatar{
    margin-left: 1rem;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

#profile-pic {
    width: 11rem;
    border-radius: 100%;
}

a {
    font-weight: bold;
    text-decoration: underline;
    color: #3a3a3a;
}

#references a img {
    height: 30px;
    margin: 1rem;
}

#references a:first-child img {
    margin-left: 0rem;
}

.footing {
    text-align: center;
    font-size: 0.7rem;
    color: black;
}